@import "~styles/variables";
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins/_breakpoints";

header {
  display: flex;
  align-items: center;
  background-color: #ffffff;
  height: 100px;

  h1 {
    margin: 0 .5em;
  }

  .logo {
    background: url("../../assets/logo_negro_verde.png") no-repeat;
    display: block;
    font: 0/0 a;
    background-size: contain;
    width: 120px;
    height: 80px;
    border: 0;
    outline: 0;
  }
}

.menu {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 50px;
  position: relative;
  z-index: 7;

  li {
    float: left;
    width: 20%;
    height: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
  }

  li.slider {
    width: 20%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 8;
    -webkit-transition: left 0.4s, background-color 0.4s;
    transition: left 0.4s, background-color 0.4s;
  }

  a {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: flex-end;
    color: $text-color;
    text-decoration: none;
    position: relative;
    font-size: 15px;
    z-index: 9;
    padding-bottom: .5em;
    transition: color .4s ease-in-out;

    &:hover {
      color: white;
    }
  }
}

.menu li:nth-child(1):hover ~ .slider,
.menu li:nth-child(1):focus ~ .slider,
.menu li:nth-child(1):active ~ .slider {
  left: 0;
  background-color: $green;
}

.menu li:nth-child(2):hover ~ .slider,
.menu li:nth-child(2):focus ~ .slider,
.menu li:nth-child(2):active ~ .slider {
  left: 20%;
  background-color: $purple;
  color: white;
}

.menu li:nth-child(3):hover ~ .slider,
.menu li:nth-child(3):focus ~ .slider,
.menu li:nth-child(3):active ~ .slider {
  left: 40%;
  background-color: #fe346e;
  color: white;
}

.menu li:nth-child(4):hover ~ .slider,
.menu li:nth-child(4):focus ~ .slider,
.menu li:nth-child(4):active ~ .slider {
  left: 60%;
  background-color: #00a8cc;
  color: white;
}

.menu li:nth-child(5):hover ~ .slider,
.menu li:nth-child(5):focus ~ .slider,
.menu li:nth-child(5):active ~ .slider {
  left: 80%;
  background-color: #c81912;
  color: white;
}

// Large devices (desktops, 992px and up)
@include media-breakpoint-up(lg) {
  header {
    .logo {
      width: 130px;
    }
  }
  .menu {
    a {
      font-size: 18px;
    }
  }
}

// Extra large devices (large desktops, 1200px and up)
@include media-breakpoint-up(xl) {
  header {
    .logo {
      width: 150px;
    }

    h1 {
      margin: 0 1em;
    }

    .logo {
      background: url("../../assets/logo_negro_verde.png") no-repeat;
      display: block;
      font: 0/0 a;
      background-size: contain;
      width: 150px;
      height: 80px;
      border: 0;
      outline: 0;
    }
  }
  .menu {
    a {
      font-size: 18px;
    }
  }
}
