@import "~styles/variables";
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins/_breakpoints";

header {
  display: flex;
  align-items: center;
  background-color: #ffffff;
  height: 100px;
  justify-content: center;

  h1 {
    margin: 0 .5em;
  }

  .logo {
    background: url("../../assets/logo_negro_verde.png") no-repeat;
    display: block;
    font: 0/0 a;
    background-size: contain;
    width: 140px;
    height: 80px;
    border: 0;
    outline: 0;
  }
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu {
  width: 100%;
  height: 50px;
  position: relative;
  z-index: 7;

  li {
    float: left;
    width: 20%;
    height: 100%;
    margin: 0;
    padding: 0;
    text-align: center;

    &.slider {
      width: 20%;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
      z-index: 8;
      -webkit-transition: left 0.4s, background-color 0.4s;
      transition: left 0.4s, background-color 0.4s;
    }

    &:nth-child(1):hover ~ .slider {
      left: 0;
      background-color: $green;
    }

    &:nth-child(2):hover ~ .slider {
      left: 20%;
      background-color: $pink;
      color: white;
    }

    &:nth-child(3):hover ~ .slider {
      left: 40%;
      background-color: $blue;
      color: white;
    }

    &:nth-child(4):hover ~ .slider {
      left: 60%;
      background-color: $red;
      color: white;
    }

    &:nth-child(5):hover ~ .slider {
      left: 80%;
      background-color: $purple;
      color: white;
    }

    a {
      display: flex;
      width: 100%;
      height: 100%;
      justify-content: center;
      align-items: center;
      color: $text-color;
      text-decoration: none;
      position: relative;
      font-size: 16px;
      z-index: 9;
      transition: all .3s ease-in-out;
      border-bottom: 2px solid transparent;

      &:hover {
        color: white;
      }

      &.active {
        font-weight: 500;
      }
    }

    &:nth-child(1) a.active {
      border-bottom-color: $green;
    }

    &:nth-child(2) a.active {
      border-bottom-color: $pink;
    }

    &:nth-child(3) a.active {
      border-bottom-color: $blue;
    }

    &:nth-child(4) a.active {
      border-bottom-color: $red;
    }

    &:nth-child(5) a.active {
      border-bottom-color: $purple;
    }
  }
}


.fab {

  .fab-btn {
    position: fixed;
    bottom: 12px;
    right: 12px;
    border-radius: 50%;
    width: 56px;
    height: 56px;
    padding: 4px;
    transition: box-shadow 0.4s ease;
    background: $green;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.6);
    color: #fff;
    font-size: 1.7rem;
    font-weight: bold;
    cursor: pointer;
    z-index: 1;

    span {
      display: flex;
      width: 100%;
      height: 100%;
      justify-content: center;
      align-items: center;
      transition: transform 0.5s ease;
      transform: rotate(0deg);
    }
  }

  .fab-content {
    position: fixed;
    opacity: 0;
    transition: opacity 0.4s ease;
    color: #fff;
    width: 100vw;
    height: 100vh;
    top: 0;
    right: 64px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-top: 10%;

    .white-logo {
      background: url("/assets/logo_blanco.png") no-repeat;
      display: block;
      background-size: contain;
      width: 150px;
      height: 80px;
      margin-bottom: 24px;
    }

    li {
      padding: 1.25em 0;
      text-align: right;
    }

    a {
      color: white;
      font-size: 1.5em;
      display: block;
      text-align: right;
      width: 100%;
    }

  }

  &.visible {
    .fab-btn {
      box-shadow: 0 0 2px 90vh $green;

      span {
        transform: rotate(360deg);
      }
    }

    .fab-content {
      opacity: 1;
      z-index: 2;
    }
  }
}

// Medium devices (tablets, 768px and up)
@include media-breakpoint-up(md) {
  header {
    justify-content: space-between;

    .logo {
      width: 120px;
    }
  }
  .fab {
    display: none;
  }
}

// Large devices (desktops, 992px and up)
@include media-breakpoint-up(lg) {
  header {
    .logo {
      width: 130px;
    }
  }
  .menu {
    a {
      font-size: 18px;
    }
  }
}

// Extra large devices (large desktops, 1200px and up)
@include media-breakpoint-up(xl) {
  header {
    .logo {
      width: 150px;
    }

    h1 {
      margin: 0 1em;
    }

    .logo {
      background: url("../../assets/logo_negro_verde.png") no-repeat;
      display: block;
      font: 0/0 a;
      background-size: contain;
      width: 150px;
      height: 80px;
      border: 0;
      outline: 0;
    }
  }
  .menu {
    a {
      font-size: 18px;
    }
  }
}
