<div class="footer" id="contact">
  <div class="container ">
    <div class="row text-center">
      <div class="col-12">
        <h3>¿Quieres saber más sobre MásMotiva?</h3>
        <p>No dudes en ponerte en contacto con nosotros para cualquier tipo de consulta, estaremos
          encantados de proporcionarte toda la información que necesites.</p>
        <ul>
          <li class="justify-content-center justify-content-lg-start">
            <span class="icon"><i class="fas fa-phone" aria-hidden="true"></i></span>674 04 35 44
          </li>
          <li class="justify-content-center justify-content-lg-start">
            <span class="icon"><i class="fas fa-at" aria-hidden="true"></i></span>masmotiva@gmail.com
          </li>
          <li class="justify-content-center justify-content-lg-start">
            <span class="icon"><i class="fas fa-phone" aria-hidden="true"></i></span>626 82 35 93
          </li>
          <li class="justify-content-center justify-content-lg-start">
            <span class="icon"><i class="fab fa-facebook" aria-hidden="true"></i></span>
            <a href="https://www.facebook.com/masmotiva">MasMotiva</a>
          </li>
        </ul>
      </div>
    </div>

  </div>
</div>
