<div class="footer" id="contact">
  <div class="container ">
    <div class="row text-center">
      <div class="col-12">
        <h3>¿Quieres saber más sobre MásMotiva?</h3>

        <ul>
          <li class="justify-content-center justify-content-lg-start">
            <span class="icon"><i class="fas fa-phone" aria-hidden="true"></i></span>
            <a href="tel:+34674043544">674 04 35 44</a>
          </li>
          <li class="justify-content-center justify-content-lg-start">
            <span class="icon"><i class="fas fa-at" aria-hidden="true"></i></span>
            <a href="mailto:masmotiva@gmail.com">masmotiva@gmail.com</a>
          </li>
          <li class="justify-content-center justify-content-lg-start">
            <span class="icon"><i class="fas fa-phone" aria-hidden="true"></i></span>
            <a href="tel:+34626823593">626 82 35 93</a>
          </li>
          <li class="justify-content-center justify-content-lg-start">
            <span class="icon"><i class="fab fa-facebook" aria-hidden="true"></i></span>
            <a href="https://www.facebook.com/masmotiva">MasMotiva</a>
          </li>
        </ul>
      </div>
    </div>

  </div>
</div>
