<div class="container mt-2 mt-lg-4 mb-5">
  <h2 class="d-md-none text-center blue">Nuestros valores</h2>

  <div class="row featurette">
    <div class="col-md-7">
      <h4 class="featurette-heading"> Calidad y profesionalidad</h4>
      <p class="lead"> en nuestras intervenciones, llevadas a cabo por especialistas en este ámbito.</p>
    </div>
    <div class="col-md-5">
      <img
        src="https://images.unsplash.com/photo-1532461844054-cee312ab1ce2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1099&q=80">
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7 order-md-2">
      <h4 class="featurette-heading">Respeto e igualdad</h4>
      <p class="lead">para todas aquellas personas con las que trabajamos.</p>
    </div>
    <div class="col-md-5 order-md-1">
      <img
        src="https://images.unsplash.com/photo-1514564079764-600734e1e9b9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=967&q=80">
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7 ">
      <h4 class="featurette-heading">Trato digno</h4>
      <p class="lead">hacia el perro de apoyo y ante todo su completo bienestar.</p>
    </div>
    <div class="col-md-5 ">
      <img
        src="https://images.unsplash.com/photo-1524435974157-2014a7e8a61c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1051&q=80">
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7 order-md-2">
      <h4 class="featurette-heading">Metodología innovadora</h4>
      <p class="lead">adaptada a cada caso y evaluable en todos los aspectos</p>
    </div>
    <div class="col-md-5 order-md-1">
      <img
        src="https://images.unsplash.com/photo-1455849318743-b2233052fcff?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80">
    </div>
  </div>

</div>

<div class="grey-bg">
  <div class="container mt-2 mt-lg-4 mb-5">
    <h2 class="text-center mt-2 mb-4">Nuestros comienzos...</h2>
    <p>Comenzamos nuestra aventura en el campo de las <span
      class="text-purple"> Intervenciones asistidas por perros</span>
      con la ilusión y motivación de dedicarnos profesionalmente a algo con lo que siempre hemos soñado. Esto no quiere
      decir que sea un camino fácil,
      aunque el empeño y la voluntad por conseguirlo facilita mucho las cosas…</p>
    <p>La primera vez que oí hablar algo relacionado con “Terapias con Animales”
      me pareció algo tan fascinante, como difícil de alcanzar. Siempre había pensado que los animales aportan muchos
      beneficios emocionales a las personas,
      pero a medida que buscaba información y leía libros sobre ello, me daba cuenta que
      <span
        class="text-purple">podían ayudar muchísimo más de lo que me había imaginado, y no sólo en el área emocional.</span>
    </p>
    <p>A la vez que estaba inmersa en diversas experiencias profesionales, seguía con la idea de dedicarme algún día a
      realizar Intervenciones con animales, hasta que llegó el momento de tomar una decisión, perseguir eso que siempre
      había querido, o bien quedarme como estaba. Aquí comenzó a forjarse el proyecto que ahora tenemos entre manos,
      busqué todo tipo de formación que había en España sobre el tema, quería una titulación oficial, completa, con
      horas
      prácticas, porque es en estas donde más se aprende… y así encontré el postgrado de la
      <span class="text-purple">Universidad de Oviedo</span> donde
      obtuve la especialidad en programas de Intervención asistida con animales.</p>
    <p>Sin duda, la decisión fue acertada y años después aquí estamos, con la formación adecuada, con perros de apoyo
      preparados, y con un proyecto emprendedor e innovador en beneficio de las personas con las que intervenimos. Se
      trata
      de un proyecto innovador en la región de Castilla La Mancha debido a la metodología que aplicamos (Método
      Pellitero), desarrollada en el Principado de Asturias hace casi dos décadas, y extendida a otras comunidades como
      Galicia, Castilla y León y Madrid. Buscamos la divulgación e implementación de estos programas de Intervención
      Asistida por Perros en entidades públicas, concertadas y privadas, pudiendo beneficiarse numerosos colectivos de
      personas con alguna necesidad de comienzoapoyo.</p>

  </div>
</div>
