$green: #b0cb1f;
$purple: #673AB7;
$text-color: #555;
$pink: #dc2ade;
$yellow: #e8f044;
$red: #ce0f3d;
$blue: #00a8cc;
/* You can add global styles to this file, and also import other style files */
$theme-colors: (
  "primary": $green,
  "danger": #ff4136
);

ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  padding: 0;

  li {
    flex: 0 0 100%;
    padding: .5em 1em;
    display: flex;
    align-items: center;
  }

  .icon {
    margin-right: .5em;
    font-size: 1.75em;
    color: $green;
  }
}

.text-green {
  color: $green;
}

.text-purple {
  color: $purple;
}
