<div class="container mt-2 mt-lg-4 mb-5">
  <p>Ofrecemos la planificación y desarrollo de diferentes programas de Intervención Asistida por Perros adaptados a las
    necesidades de cada colectivo y cada persona.</p>
  <p> Nuestras intervenciones están basadas en la profesionalidad, tanto del especialista como del perro de apoyo, con
    una metodología específica y con una finalidad concreta.</p>

  <div class="row">
    <div class="col-md-6 mb-4">
      <div class="card h-100">
        <img class="card-img-top"
             src="https://images.unsplash.com/photo-1560150844-220a5b58df38?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=967&q=80">
        <div class="card-body">
          <h4 class="card-title">Apoyo/refuerzo educativo asistido por perros</h4>
          <p class="card-text">Son intervenciones diseñadas y dirigidas hacia el ámbito educativo, pudiendo
            desarrollarse
            en lo siguientes contextos:</p>

          <ul>
            <li> Guarderías, Centros de Atención a la Infancia..</li>
            <li>Colegios de Educación Infantil y Primaria: públicos, concertados o privados.</li>
            <li> Centros de Educación Especial, públicos, concertados o privados.</li>
            <li>Actividades extraescolares.</li>
            <li> Apoyo educativo a domicilio.</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-6 mb-4">
      <div class="card h-100 ">
        <img class="card-img-top"
             src="https://images.unsplash.com/photo-1475954358970-66dcc6ff073f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=967&q=80"
             alt="Card image cap">
        <div class="card-body">
          <h4 class="card-title">Intervenciones terapéuticas y sociales</h4>
          <p class="card-text">
            Las intervenciones terapéuticas y sociales asistidas por perros se llevan a cabo en los diferentes contextos
            donde se encuentran los colectivos a los que van dirigidos:
          </p>
          <ul>
            <li>Personas mayores: Residencias, centros de día…de utilidad pública, privada o concertada.</li>
            <li>Personas con enfermedad de Alzheimer y otras demencias: unidades de respiro, unidades o centros de
              Alzheimer…de utilidad pública, privada o concertada.
            </li>
            <li> Personas con discapacidad: Residencias, centros de día, residencias de personas de salud mental…de
              utilidad pública, privada o concertada.
            </li>
            <li>Personas con Daño Cerebral Adquirido: residencias, centros de día.</li>
            <li>Asociaciones, fundaciones, centros de Psicología, psicoterapia, centros de rehabilitación, centros de
              fisioterapia, etc.
            </li>
          </ul>


        </div>
      </div>
    </div>
  </div>

</div>

