<app-cover></app-cover>

<div class="block">
  <div class="container our-mission">
    <p>En <span class="text-green">MásMotiva</span> nos dedicamos a planificar y aplicar programas específicos de
      intervención y apoyo asistidos por perros. El OBJETIVO principal de las intervenciones es</p>
    <ul>
      <li><span class="icon"><i class="far fa-check-circle" aria-hidden="true"></i></span>Mejorar la calidad de vida de
        las
        personas
      </li>
      <li><span class="icon"><i class="far fa-check-circle" aria-hidden="true"></i></span>Favorecer su autonomía</li>
      <li><span class="icon"><i class="far fa-check-circle" aria-hidden="true"></i></span>Mejorar la integración social
      </li>
      <li><span class="icon"><i class="far fa-check-circle" aria-hidden="true"></i></span>Aumentar la atención, memoria
        y las
        funciones cognitivas y físicas
      </li>
    </ul>
    <p>Todo ello a través de un estímulo diferente, motivador, dinamizador… como es el PERRO DE APOYO.</p>
  </div>

</div>

<div class="block purple">
  <div class="container">
    <h2>¿Cómo lo hacemos?</h2>
    <div class="rectangle">
      <div>
        El perro de apoyo, debidamente seleccionado y formado, participa como recurso o apoyo en las sesiones, guiado en
        todo momento por un Profesional Especialista con formación en intervenciones asistidas por perros en los
        colectivos a los que van dirigidos.
      </div>
      <div>
        El especialista, junto con el equipo interdisciplinar del centro, definen los objetivos específicos para cada
        usuario, adaptando siempre las intervenciones en función a las necesidades de cada persona.
      </div>
      <div>
        MásMotiva aplica un método pionero en programas de Intervenciones Asistidas por Perros (IAP) implementado en la
        red de Servicios Sociales del Principado de Asturias desde el año 1998, el “Método Pellitero”.
        Actualmente, es el programa implementado más longevo que se desarrolla a nivel nacional, europeo y mundial en el
        campo de las intervenciones asistidas por animales.
      </div>
    </div>
  </div>
</div>

<div class="block">
  <div class="container">
    <h2>Nuestro equipo</h2>
    <div class="team">
      <div class="member">
        <div class="picture maria"></div>
        <div class="text">
          María, se ha especializado en “Programas de Intervención Asistida por Animales, un postgrado de la Universidad
          de Oviedo, adquiriendo los conocimientos necesarios para realizar dichas intervenciones, con formación
          específica de los diferentes colectivos con los que se va a trabajar: personas con discapacidad, personas
          mayores, personas con Alzheimer, personas con Daño Cerebral, alumnos con Necesidades Educativas Especiales,
          etc. Su formación de base es maestra de Educación Especial y maestra de Educación Infantil, tiene experiencia
          en centros educativos con alumnos con necesidades especiales, y también con personas adultas con discapacidad
          en diferentes centros y asociaciones.
        </div>
      </div>

      <div class="member">

        <div class="text">
          Gema, Licenciada en Psicología, Especialista en Psicoterapia y Psicodrama, Especializada en Intervenciones
          Asistidas con Animales, y con amplia formación y experiencia tanto en el ámbito educativo, como de la salud y
          social, y con diferentes colectivos, tales como tercera edad, discapacidad, niños con necesidades educativas
          especiales, colectivos en riesgo de exclusión, infancia y juventud, entre otros.
        </div>
        <div class="picture gema"></div>
      </div>

      <div class="member">
        <div class="picture tizon"></div>
        <div class="text">
          Tizón, es un perro de apoyo preparado específicamente para realizar esta labor. Está entrenado por la Escuela
          de Formación del perro de apoyo “EFORP“, desde los 2 meses y medio ha estado formándose en contextos reales y
          con los colectivos a los que se dirigen las intervenciones. Es un macho, de raza labrador retriever, de manto
          negro y magnífico carácter. Fecha de nacimiento: 24 de Enero de 2015.
        </div>

      </div>


      <div class="member">
        <div class="text">
          Kenia, perra mestiza de labrador retriever, nacida en 2011, con un carácter afable, gentil y noble, siendo muy
          tranquila y cariñosa, lo que la hace una compañera de vida ideal, y una estupenda perra de terapia. Educada
          desde cachorra y adiestrada, evaluada y certificada específicamente como perro de apoyo por entidades de
          dilatada experiencia en el sector de las Intervenciones Asistidas con Animales.
        </div>
        <div class="picture kenia"></div>
      </div>
    </div>
  </div>
</div>


